[submodule "backend"]
	path = backend
	url = https://github.com/pierrealexi/GoalStream-backEnd.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/pierrealexi/GoalStream-frontEnd.git
